<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/Scripts/modernizer")
</head>
<body>
  <div class="container body-content">
    @RenderBody()
  </div>
  @Scripts.Render("~/Scripts/jquery", "~/Scripts/angular", "~/Scripts/app")
  @RenderSection("scripts", required: false)
</body>
</html>
